DATABASE_URL=postgresql://postgres.xvkxpniakyibsaffecnp:1109Gvmc@@@@aws-1-us-west-2.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true&connection_limit=1
DIRECT_URL=postgresql://postgres.xvkxpniakyibsaffecnp:1109Gvmc@@@@aws-1-us-west-2.pooler.supabase.com:6543/postgres?sslmode=require
JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=change-me-too
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d
ADMIN_BOOTSTRAP_EMAIL=admin@empresa.com
ADMIN_BOOTSTRAP_PASSWORD=change-me
